body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 99%;
    background: #000;
}

.raibowwheel{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(red, orange, yellow, green, blue,Indigo, violet,red);
    animation: rotate 3s linear 0s infinite ;
    border: 3px solid rgb(171, 167, 167);

}

@keyframes rotate {
   
    25%{
       transform: perspective(400px) rotateY(90deg) scale(.5);
       
        
    }
    50%{
       
       transform: perspective(500px) rotateZ(90deg) scale(.75);
    }
    100%{
        transform: perspective(600px) rotate(-360deg) scale(1);
    }
}
